doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet" href="./dist/index.css")
    link(href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel="stylesheet")
    link(rel="stylesheet" href="./dist/hammerslider.required.css")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")

  body
    script(type='text/javascript').
      function statusChangeCallback(res) {
          if (res.status === 'connected') {
            shareOnFacebook();
          } else {
            FB.login(shareOnFacebook, { scope: ['public_profile'] })
          }
      }

      function checkLoginState() {
          FB.getLoginStatus(statusChangeCallback) // callback called with response
      }

      window.fbAsyncInit = () => {
        FB.init({
            appId      : '1244947348881820',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.8'
        })

      };

      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0]
          if (d.getElementById(id)) return
          js = d.createElement(s); js.id = id
          js.src = "//connect.facebook.net/en_US/sdk.js"
          fjs.parentNode.insertBefore(js, fjs)
      }(document, 'script', 'facebook-jssdk'))

      function testAPI() {
        FB.getLoginStatus(statusChangeCallback)
      }

      function shareOnFacebook() {
        FB.ui({
          method: 'share',
          href: 'https://www.reporterswithoutborders.com/',
        }, () => {
          document.body.classList = '';
        });
      }
    
    .search-box
      input(type="text" placeholder="Search for a country...")

    aside.about
      fb:login-button(scope="public_profile,email" onlogin="checkLoginState();")
      h3.about__title About
      p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore id quia officia illo optio similique pariatur maiores, eum dolores alias, assumenda, vero velit rerum. Eaque eveniet perferendis quo iste.

    aside.take-action

      .take-action__action
        img(src="./img/paper-plane.svg" alt="Share" class="take-action__icon")
        p.take-action__text Lorem ipsum dolor sit amet, consectetur adipisicing elit illo optio similique.
        button(class="cta" onClick="testAPI()") Share

      .take-action__action
        img(src="./img/donation.svg" alt="Donate" class="take-action__icon")
        p.take-action__text Lorem ipsum dolor sit amet, consectetur adipisicing elit illo optio similique.
        button.cta Donate

      .take-action__action
        img(src="./img/mail.svg" alt="Newsletter" class="take-action__icon")
        p.take-action__text Lorem ipsum dolor sit amet, consectetur adipisicing elit illo optio similique.
        button.cta Newletter

    .wrapper
      div(class="modal" id="myModal")
        .modal__box
          img(src="img/cross-out.svg" alt="" class="close" id="close")
          img(src="img/feather-and-ink.svg" alt="" class="box__img")
          .text
            h2.title World Press Freedom Index
            p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed est felis. Sed non pharetra ipsum.

      div(class="c-slider" id="hammer-slider")
        .c-slider__container
          .c-slider__slide
            img(src="./img/north-america.svg" alt="")
          .c-slider__slide
            img(src="./img/south-america.svg" alt="")
          .c-slider__slide
            img(src="./img/africa.svg" alt="")
          .c-slider__slide
            img(src="./img/europe.svg" alt="")

      //- header.header
      h1.header__logo
        img(src="./img/Reporters_Without_Borders.svg" alt="Logo")
      nav.navigation
        ul.navigation__list
          li(class="navigation__list-item navigation__list-item--about" data-id="about") About
          li(class="navigation__list-item navigation__list-item--action" data-id="action") Take action
          li(class="navigation__list-item navigation__list-item--twitter" data-id="twitter") Spread the word
          li(class="navigation__list-item navigation__list-item--search" data-id="search")
            img(src="./img/search.svg" alt="Search icon" width="16")

      main.map
        include ../assets/img/map.svg

      footer.footer
        ul.ranking-categories

    article.country-info
      span.country-info__ranking-number
      h2.country-info__title
      canvas(id="doughnut-chart" width="800" height="450")
      p.country-info__score
      p.country-info__progression
      p.country-info__rank2015
      p.country-info__score2015

    section.twitter
      h3.twitter__title Twitter #FreedomOfSpeech
      ul.twitter__tweets
        each tweet in tweets
          li.twitter__tweet
            img(class="twitter__user-avatar" src=tweet.user.profile_image_url_https alt="Avatar")
            .twitter__content
              span.twitter__username= tweet.user.screen_name
              p.twitter__text= tweet.text

    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js")
    script(type='text/javascript').
      const currCountry = !{JSON.stringify(country)};
      const countryData = !{JSON.stringify(countryData)};
    script(src="./js/hammerslider.min.js")
    script(src="./js/index.js")